.driver-page-info{
  @apply flex justify-between pt-10 mt-10;
  border-top: 3px solid #616161;
  &-item.forum{
    width: calc(40% - 10px);
  }
  &-item.studio{
    width: calc(60% - 10px);
    border-left: 2px solid #616161;
    @apply pl-5;
  }
  .driver-info-item{
    &-image{
      width: 80px;
      height: 80px;
      svg{
        @apply w-full h-full;
      }
    }
    &-title{
      @apply pt-5 pb-5;
      p{
        color: #ccc;
      }
    }
    &-description{
      p{
        color: #ccc;
      }
    }
  }
}
/*----------------------*/
@media(max-width: 992px){
  .driver-page-info{
    @apply mt-0 pt-8;
  }
}
/*----------------------*/
@media(max-width: 768px){
  .driver-page-info{
    @apply flex-col;
    border: unset;
    &-item.studio,
    &-item.forum{
      @apply w-full p-0;  
      border: unset;
    }
    &-item.forum{
      @apply pb-5;
    }
  }
}