.shopping-cart-sidebar{
  width: calc(30% - 20px);
  &-content{
    @apply sticky top-5 p-5 rounded-xl border border-solid;
    border-color: #76b900;
    box-shadow: #76b900 0 2px 8px 0;
    &-count,
    &-sum{
      @apply py-2;
      p{
        span{
          color: #76b900;
        }
      }
    }
    &-checkout{
      @apply pt-5;
      button{
        @apply w-full text-black rounded-none duration-500 transition;
        background-color: #76b900;
        &:hover{
          background-color: #91c733;
        }
      }
    }
  }
}
/*----------------------*/
@media(max-width: 1200px){
  .shopping-cart-sidebar {
    width: calc(30% - 10px);
  }
}
@media(max-width: 992px){
  .shopping-cart-sidebar {
    @apply w-3/6 pt-5;
  }
}
@media(max-width: 576px){
  .shopping-cart-sidebar {
    @apply w-10/12;
  }
}