.checkout-accept-sidebar{
  &-sticky{
    @apply sticky top-5;
  }
  .sidebar-account{
    @apply mb-5  p-5 rounded-xl border border-solid;
    border-color: #76b900;
    box-shadow: #76b900 0 2px 8px 0;
    &-first-name,
    &-last-name,
    &-phone-number,
    &-email{
      @apply py-2;
    }

  }
  .sidebar-result{
    @apply sticky top-5 p-5 rounded-xl border border-solid;
    border-color: #76b900;
    box-shadow: #76b900 0 2px 8px 0;
    &-sum,
    &-quantity{
      @apply py-2;
      p{
        color: #76b900;
        span{
          color: #ffffff;
        }
      }
    }
    &-confirm{
      @apply pt-5;
      a{
        @apply block text-center p-2.5;
      }
    }
  }
}