.home-page-slider{
  .slick-slider{
    button{
      display: none !important;
    }
  }
  .slider-item{
    @apply relative;
    &-background{
      @apply absolute top-0 left-0 z-10 h-full;
      img{
        @apply w-full h-full object-cover;
      }
    }
    &-content{
      height: 500px;
      @apply relative z-20 py-0 flex flex-col justify-center;
      &-title{
        max-width: 600px;
        @apply py-2;
        p{
          @apply text-5xl font-bold;
        }
      }
      &-subtitle{
        max-width: 600px;
        @apply py-2;
        p{
          @apply text-2xl font-bold;
        }
      }
      &-button{
        @apply pt-3;
        max-width: 150px;
        a{
          background-color: #76b900;
          @apply p-4 text-lg text-black font-semibold duration-500 flex items-center justify-center;
          &:hover {
            background-color: #91c733;
          }
        }
      }
    }
  }
}