.home-page-slider {
  border-bottom: 4px solid #76b900;

  .slick-slider {
    & > button {
      display: none !important;
    }

    .slick-dots {
      @apply bottom-2.5;
      li {
        button {
          &:before {
            @apply text-white text-base;
          }

          &:hover {
            &:before {
              color: #76b900;
            }
          }
        }
      }

      li.slick-active {
        button:before {
          color: #76b900;
          @apply opacity-100;
        }
      }
    }
  }

  .slider-item {
    @apply relative;
    &-background {
      @apply absolute top-0 left-0 z-10 h-full;
      img {
        @apply w-full h-full object-cover;
      }
    }

    &-content {
      height: 500px;
      @apply relative z-20 py-0 flex flex-col justify-center;
      &-title,
      &-subtitle{
        max-width: 600px;
        @apply py-2;
      }
      &-button {
        @apply pt-3;
        max-width: 150px;
      }
    }
  }
}
/*----------------------*/
@media(max-width: 1199px) {
  .home-page-slider .slider-item-content{
    height: 400px;
    &-title,
    &-subtitle{
      max-width: 450px;
    }
  }
}
/*----------------------*/