.driver-configurator-loading {
  @apply flex items-center justify-center h-full w-full;
  div {
    width: 100px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
.driver-configurator-items {
  @apply grid gap-8;
  .driver-configurator-item {
    @apply flex justify-between items-center;
    &-image {
      width: 90px;

      img {
        @apply w-full h-full object-contain;
      }
    }
    &-content {
      @apply grow pl-3 pr-2;
      &-description {
        @apply py-2.5;
      }
    }
  }
  .driver-configurator-empty {
    @apply text-center;
    color: #76b900;
  }
}
/*----------------------*/
@media(max-width: 768px){
  .driver-page-configurator-list{
    border-bottom: 3px solid #616161;
  }
}
/*----------------------*/
@media(max-width: 576px){
  .driver-configurator-items .driver-configurator-item{
    @apply flex-col;
    &-image{
      @apply w-32;
    }
    &-content{
      @apply text-center py-4 px-0;
    }
  }
}