.product-single-loading,
.product-single-error{
  @apply flex items-center flex-col justify-center col-start-2 col-end-4 h-full;
  svg {
    max-width: 100px;
  }
}

.product-single-item {
  @apply max-w-xl mx-auto flex flex-col items-center justify-center;
  &-name {
    @apply py-5;
  }

  &-description {
    @apply text-center;
  }

  &-price {
    @apply py-3.5 text-2xl;
    span {
      color: #76b900;
      @apply pr-2 text-base line-through;
    }
  }

  &-shopping-cart {
    button {
      border: 3px solid #76b900;
      width: 195px;
      @apply p-4 duration-500;
      &.disabled{
        opacity: 0.5;
        pointer-events: none;
      }
      &:hover {
        background-color: #76b900;
        border-color: transparent;
      }
    }
  }
}