.about-content{
  &.full-screen{
    background-color: #1a1a1a;
    @apply max-w-none;
  }
  &.dlss,
  &.reflex{
    @apply max-w-none p-0 relative;
  }
  /*-----------Architecture------------*/
  &-architecture-title{
    @apply pb-5 text-center;
  }
  &-architecture-subtitle{
    @apply pb-24 text-center;
  }
  &-architecture-content{
    @apply grid grid-cols-2 gap-16;
  }
  .about-architecture-description{
    @apply grid;
    &-item{
      &-subtitle{
        @apply py-2.5;
      }
    }

  }
  /*-----------Architecture------------*/
  /*-----------Performance-------------*/
  &-performance{
    @apply flex flex-col text-center items-center;
    &-title{
      @apply pb-10 text-center;
    }
    &-image{
      @apply max-w-5xl;
      img{
        @apply w-full h-full object-cover;
      }
    }
    &-subtitle{
      @apply pb-7 pt-5;
    }
    &-description{
      p{
        color: rgb(170,170,170);
        @apply max-w-2xl;
      }
    }
  }
  /*-----------Performance-------------*/
  /*----------------RTX----------------*/
  &-rtx{
    &-title{
      @apply pb-10 text-center;
    }
    &-items{
      @apply grid grid-cols-2 gap-x-8 gap-y-16;
    }
    &-item{
      @apply flex flex-col;
      &-image{
        img{
          @apply w-full h-full object-cover;
        }
      }
      &-title{
        @apply pt-8 mb-2.5 overflow-hidden line-clamp-1;
      }
      &-description{
        @apply flex-grow py-2.5;
      }
      &-text{
        p{
          @apply py-2.5;
          span{
            @apply font-bold;
          }
        }
      }
      &-link{
        @apply pt-5;
        a{
          @apply inline-block relative text-lg font-bold;
          svg{
            @apply absolute translate-y-2/4;
            right: -25px;
            top: -12%;
            transition: 0.5s ease;
            g{
              transition: 0.5s ease;
            }
          }
          &:hover{
            svg{
              right: -30px;
              g{
                @apply fill-white;
              }
            }
          }
        }
      }
    }
  }
  /*----------------RTX----------------*/
  /*----------------DLLS---------------*/
  &-dlss,
  &-reflex{
    @apply relative z-20 flex flex-col text-center items-center;
    &-background{
      @apply absolute top-0 left-0 z-10 w-full h-full;
      img{
        @apply w-full h-full object-cover;
      }
    }
    &-subtitle{
      @apply pb-5;
    }
    &-title{
      @apply pb-5;
    }
    &-description{
      @apply max-w-4xl pb-14;
    }
    &-under-text{
      @apply pt-5;
      p{
        color: rgb(153,153,153);
      }
    }
  }
  /*----------------DLLS---------------*/
  /*---------------Reflex--------------*/
  &-reflex{
    &-description{
      @apply pb-52;
    }
  }
  /*---------------Reflex--------------*/
}