.about-banner{
  @apply relative;
  &-background{
    //background-image: image-set(url('./img/geforce-rtx-40-series-new.jpeg') 1x, url('./img/geforce-rtx-40-series-new.jpeg') 2x);
    //@apply bg-center bg-cover bg-no-repeat;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    img{
      @apply w-full h-full object-fill;
    }
  }
  &-container {
    @apply max-w-screen-xl m-auto px-5 py-24 relative z-10;
    .about-banner-title{
      @apply pb-7;
      p{
        @apply text-white;
      }
    }
    .about-banner-subtitle{
      @apply pb-7;
      p{
        @apply text-white;
      }
    }
    .about-banner-description{
      @apply max-w-md pb-10 font-normal;
    }
    .about-banner-button{
      max-width: 150px;
    }
  }
}


