.driver-configurator-search {
  &-title {
    @apply pb-5;
  }
  &-subtitle {
    @apply pb-6;
  }
  &-form {
    @apply flex flex-col items-end;
    .search-form-selector {
      @apply flex items-center pb-6 w-full;
      p {
        width: 40%;
        @apply pr-2 text-end;
      }
      select {
        @apply w-full cursor-pointer outline-none h-9;
        border: 2px solid #666666;
        color: #666666;
        background-color: #1A1A1A;
        &:hover,
        &:focus{
          border-color: #76b900;
        }
      }
    }
  }
}
/*------------------------*/
@media(max-width: 1200px){
  .driver-configurator-search-form .search-form-selector p{
    width: 55%;
  }
}
/*------------------------*/
@media(max-width: 992px){
  .driver-configurator-search-form{
    @apply grid grid-cols-2 gap-5;
    .search-form-selector{
      @apply flex-col items-start p-0;
      p{
        @apply w-auto pb-2;
      }
    } 
  } 
}
/*------------------------*/
@media(max-width: 576px){
  .driver-configurator-search-form{
    @apply grid-cols-1;
    .search-form-selector{
      select{
        @apply w-full;
      }
    }
  }
}