.checkout-order-content{
  @apply flex flex-col text-center items-center mx-auto max-w-md p-5 rounded-xl border border-solid;
  border-color: #76b900;
  box-shadow: #76b900 0 2px 8px 0;
  &-title,
  &-subtitle{
    @apply py-2;
    p{
      @apply text-xl font-bold;
      span{
        color: #76b900;
      }
    }
  }
  &-button{
    @apply pt-5;
    button{
      @apply w-full text-black rounded-none duration-500 transition;
      background-color: #76b900;
      &:hover{
        background-color: #91c733;
      }
    }
  }
}