.checkout-accept {
  &-title {
    @apply pb-5 text-center;
  }
  &-content {
    @apply flex justify-between;
    .checkout-accept-list {
      width: calc(70% - 20px);
    }
    .checkout-accept-sidebar {
      width: calc(30% - 20px);
    }
  }
}
/*----------------------*/
@media(max-width: 1200px){
  .checkout-accept {
    &-content {
      .checkout-accept-list {
        width: calc(60% - 10px);
      }
      .checkout-accept-sidebar {
        width: calc(40% - 10px);
      }
    }
  }
}
@media(max-width: 992px){
  .checkout-accept{
    &-content{
      @apply flex-col items-end;
      .checkout-accept-list {
        @apply w-full;
      }
      .checkout-accept-sidebar {
        @apply pt-5 w-6/12;
      }
    }
  }
}
@media(max-width: 768px){
  .checkout-accept{
    &-content{
      .checkout-accept-sidebar {
        @apply w-8/12;
      }
    }
  }
}
@media(max-width: 576px){
  .checkout-accept{
    &-content{
      .checkout-accept-sidebar {
        @apply w-full;
      }
    }
  }
}
