.news-page-items{
  @apply grid gap-10;
}
.news-page-item{
  @apply flex items-start justify-between;
  &-image{
    width: calc(35% - 10px);
    img{
      @apply w-full h-full object-contain;
    }
  }
  &-content{
    width: calc(65% - 10px);
    &-subtitle{
      p{
        color: #999;
      }
    }
    &-title{
      @apply py-5;
    }
    &-links{
      @apply flex flex-wrap;
    }
    &-link{
      @apply pr-2;
      a{
        color: #999;
        @apply transition ease-in duration-300;
      }
      &:hover{
        a{
          color: #76b900;
        }
      }
    }
    &-description{
      @apply pt-5;
      p{
        @apply leading-6;
      }
    }
  }
}
/*------------------------*/
@media(max-width: 992px){
  .news-page-item{
    &-image,
    &-content{
      width: calc(50% - 10px);
    }
  }
}
/*------------------------*/
@media(max-width: 768px){
  .news-page-item{
    @apply grid grid-cols-1;
    &-image,
    &-content{
      width: 100%;
    }
  }
}