.checkout-accept-list{
  @apply grid gap-8;
}
.checkout-accept-product{
  @apply flex justify-between items-start;
  &-image{
    width: calc(35% - 10px);
    img{
      @apply w-full h-full object-contain;
    }
  }
  &-content{
    width: calc(65% - 10px);
    &-description{
      @apply py-2.5;
    }
    &-price{
      p{
        span{
          color: #76b900;
        }
      }
    }
  }
}